body {
  background-color: #fdf6e3;
}

header, footer {
  font-size: 1.5rem;
}

nav ul li {
  font-family: sans-serif;
}

h1 {
  text-transform: uppercase;
}

main {
  background-color: #eee8d5;
}

h2 {
  color: #93a1a1;
}
