body {
  background-color: #fdf6e3;
}

header, footer {
  font-size: 1.5rem;
}

nav ul li {
  font-family: sans-serif;
}

h1 {
  text-transform: uppercase;
}

main {
  background-color: #eee8d5;
}

h2 {
  color: #93a1a1;
}

main div.dfn {
  background-color: #b58900;
}

p + strong {
  color: #fff;
}

html header nav ul li mark {
  background-color: #719e07;
}

a[rel=external] {
  background-color: #2694d8;
}

ol li:first-child {
  color: #719e47;
}

ol li:last-child {
  color: #2aa198;
}

.types li:nth-child(odd) {
  background-color: #657ba3;
}

.types li:nth-child(even) {
  background-color: #586e75;
}

.types li:nth-child(3n) {
  background-color: #d04b16;
}
